$_palette-min: 0;
$_palette-max: 1000;
$_palette-step: 25;

// Palette: gray
$palette-gray-0: #ffffff;
$palette-gray-25: #f8f8f8;
$palette-gray-50: #f2f2f2;
$palette-gray-75: #ebebeb;
$palette-gray-100: #e4e4e4;
$palette-gray-125: #dedede;
$palette-gray-150: #d7d7d7;
$palette-gray-175: #d1d1d1;
$palette-gray-200: #cacaca;
$palette-gray-225: #c3c3c3;
$palette-gray-250: #bdbdbd;
$palette-gray-275: #b6b6b6;
$palette-gray-300: #afafaf;
$palette-gray-325: #a9a9a9;
$palette-gray-350: #a2a2a2;
$palette-gray-375: #9c9c9c;
$palette-gray-400: #959595;
$palette-gray-425: #8e8e8e;
$palette-gray-450: #888888;
$palette-gray-475: #818181;
$palette-gray-500: #7a7a7a;
$palette-gray-525: #747474;
$palette-gray-550: #6e6e6e;
$palette-gray-575: #686868;
$palette-gray-600: #626262;
$palette-gray-625: #5c5c5c;
$palette-gray-650: #565656;
$palette-gray-675: #505050;
$palette-gray-700: #494949;
$palette-gray-725: #434343;
$palette-gray-750: #3d3d3d;
$palette-gray-775: #373737;
$palette-gray-800: #313131;
$palette-gray-825: #2b2b2b;
$palette-gray-850: #252525;
$palette-gray-875: #1f1f1f;
$palette-gray-900: #181818;
$palette-gray-925: #121212;
$palette-gray-950: #0c0c0c;
$palette-gray-975: #060606;
$palette-gray-1000: #000000;
$palette-gray: (
	#ffffff,
	#f8f8f8,
	#f2f2f2,
	#ebebeb,
	#e4e4e4,
	#dedede,
	#d7d7d7,
	#d1d1d1,
	#cacaca,
	#c3c3c3,
	#bdbdbd,
	#b6b6b6,
	#afafaf,
	#a9a9a9,
	#a2a2a2,
	#9c9c9c,
	#959595,
	#8e8e8e,
	#888888,
	#818181,
	#7a7a7a,
	#747474,
	#6e6e6e,
	#686868,
	#626262,
	#5c5c5c,
	#565656,
	#505050,
	#494949,
	#434343,
	#3d3d3d,
	#373737,
	#313131,
	#2b2b2b,
	#252525,
	#1f1f1f,
	#181818,
	#121212,
	#0c0c0c,
	#060606,
	#000000
);

// Palette: red
$palette-red-0: #ffffff;
$palette-red-25: #fef5f4;
$palette-red-50: #feeae9;
$palette-red-75: #fde0de;
$palette-red-100: #fdd6d3;
$palette-red-125: #fcccc8;
$palette-red-150: #fbc1bd;
$palette-red-175: #fbb7b2;
$palette-red-200: #faada7;
$palette-red-225: #faa39c;
$palette-red-250: #f99891;
$palette-red-275: #f88e86;
$palette-red-300: #f8847b;
$palette-red-325: #f77a70;
$palette-red-350: #f76f66;
$palette-red-375: #f6655b;
$palette-red-400: #f55b50;
$palette-red-425: #f55145;
$palette-red-450: #f4463a;
$palette-red-475: #ea4236;
$palette-red-500: #e13e32;
$palette-red-525: #d73b30;
$palette-red-550: #cd382d;
$palette-red-575: #c4362b;
$palette-red-600: #ba3329;
$palette-red-625: #b03027;
$palette-red-650: #a72e25;
$palette-red-675: #9d2b23;
$palette-red-700: #942921;
$palette-red-725: #8a261f;
$palette-red-750: #80231c;
$palette-red-775: #77211a;
$palette-red-800: #6d1e18;
$palette-red-825: #631b16;
$palette-red-850: #5a1914;
$palette-red-875: #501612;
$palette-red-900: #461310;
$palette-red-925: #3d110d;
$palette-red-950: #330e0b;
$palette-red-975: #290b09;
$palette-red-1000: #200907;
$palette-red: (
	#ffffff,
	#fef5f4,
	#feeae9,
	#fde0de,
	#fdd6d3,
	#fcccc8,
	#fbc1bd,
	#fbb7b2,
	#faada7,
	#faa39c,
	#f99891,
	#f88e86,
	#f8847b,
	#f77a70,
	#f76f66,
	#f6655b,
	#f55b50,
	#f55145,
	#f4463a,
	#ea4236,
	#e13e32,
	#d73b30,
	#cd382d,
	#c4362b,
	#ba3329,
	#b03027,
	#a72e25,
	#9d2b23,
	#942921,
	#8a261f,
	#80231c,
	#77211a,
	#6d1e18,
	#631b16,
	#5a1914,
	#501612,
	#461310,
	#3d110d,
	#330e0b,
	#290b09,
	#200907
);

// Palette: pink
$palette-pink-0: #ffffff;
$palette-pink-25: #fef4f7;
$palette-pink-50: #fde9f0;
$palette-pink-75: #fcdee8;
$palette-pink-100: #fbd3e1;
$palette-pink-125: #fac8d9;
$palette-pink-150: #f9bdd1;
$palette-pink-175: #f7b2ca;
$palette-pink-200: #f6a7c2;
$palette-pink-225: #f59cba;
$palette-pink-250: #f491b3;
$palette-pink-275: #f386ab;
$palette-pink-300: #f27ba4;
$palette-pink-325: #f1709c;
$palette-pink-350: #f06594;
$palette-pink-375: #ef5a8d;
$palette-pink-400: #ee4f85;
$palette-pink-425: #ed447d;
$palette-pink-450: #ec3976;
$palette-pink-475: #eb2e6e;
$palette-pink-500: #e92367;
$palette-pink-525: #e11f61;
$palette-pink-550: #d91c5c;
$palette-pink-575: #ce1b58;
$palette-pink-600: #c41953;
$palette-pink-625: #ba184f;
$palette-pink-650: #af174b;
$palette-pink-675: #a51546;
$palette-pink-700: #9b1442;
$palette-pink-725: #90133d;
$palette-pink-750: #861139;
$palette-pink-775: #7c1034;
$palette-pink-800: #710f30;
$palette-pink-825: #670d2c;
$palette-pink-850: #5c0c27;
$palette-pink-875: #520b23;
$palette-pink-900: #48091e;
$palette-pink-925: #3d081a;
$palette-pink-950: #330716;
$palette-pink-975: #290511;
$palette-pink-1000: #1e040d;
$palette-pink: (
	#ffffff,
	#fef4f7,
	#fde9f0,
	#fcdee8,
	#fbd3e1,
	#fac8d9,
	#f9bdd1,
	#f7b2ca,
	#f6a7c2,
	#f59cba,
	#f491b3,
	#f386ab,
	#f27ba4,
	#f1709c,
	#f06594,
	#ef5a8d,
	#ee4f85,
	#ed447d,
	#ec3976,
	#eb2e6e,
	#e92367,
	#e11f61,
	#d91c5c,
	#ce1b58,
	#c41953,
	#ba184f,
	#af174b,
	#a51546,
	#9b1442,
	#90133d,
	#861139,
	#7c1034,
	#710f30,
	#670d2c,
	#5c0c27,
	#520b23,
	#48091e,
	#3d081a,
	#330716,
	#290511,
	#1e040d
);

// Palette: purple
$palette-purple-0: #ffffff;
$palette-purple-25: #fbf6fc;
$palette-purple-50: #f7eef9;
$palette-purple-75: #f3e5f6;
$palette-purple-100: #efddf3;
$palette-purple-125: #ebd4ef;
$palette-purple-150: #e8ccec;
$palette-purple-175: #e4c3e9;
$palette-purple-200: #e0bbe6;
$palette-purple-225: #dcb2e3;
$palette-purple-250: #d8aae0;
$palette-purple-275: #d4a1dd;
$palette-purple-300: #d099da;
$palette-purple-325: #cc90d6;
$palette-purple-350: #c888d3;
$palette-purple-375: #c47fd0;
$palette-purple-400: #c076cd;
$palette-purple-425: #bd6eca;
$palette-purple-450: #b965c7;
$palette-purple-475: #b55dc4;
$palette-purple-500: #b154c1;
$palette-purple-525: #ab47bc;
$palette-purple-550: #a53ab7;
$palette-purple-575: #9e30b1;
$palette-purple-600: #9826ab;
$palette-purple-625: #8f24a2;
$palette-purple-650: #872299;
$palette-purple-675: #7f208f;
$palette-purple-700: #771e86;
$palette-purple-725: #6f1c7d;
$palette-purple-750: #661a74;
$palette-purple-775: #5e186a;
$palette-purple-800: #561561;
$palette-purple-825: #4e1358;
$palette-purple-850: #46114e;
$palette-purple-875: #3d0f45;
$palette-purple-900: #350d3c;
$palette-purple-925: #2d0b33;
$palette-purple-950: #250929;
$palette-purple-975: #1c0720;
$palette-purple-1000: #140517;
$palette-purple: (
	#ffffff,
	#fbf6fc,
	#f7eef9,
	#f3e5f6,
	#efddf3,
	#ebd4ef,
	#e8ccec,
	#e4c3e9,
	#e0bbe6,
	#dcb2e3,
	#d8aae0,
	#d4a1dd,
	#d099da,
	#cc90d6,
	#c888d3,
	#c47fd0,
	#c076cd,
	#bd6eca,
	#b965c7,
	#b55dc4,
	#b154c1,
	#ab47bc,
	#a53ab7,
	#9e30b1,
	#9826ab,
	#8f24a2,
	#872299,
	#7f208f,
	#771e86,
	#6f1c7d,
	#661a74,
	#5e186a,
	#561561,
	#4e1358,
	#46114e,
	#3d0f45,
	#350d3c,
	#2d0b33,
	#250929,
	#1c0720,
	#140517
);

// Palette: deep-purple
$palette-deep-purple-0: #ffffff;
$palette-deep-purple-25: #f9f7fc;
$palette-deep-purple-50: #f3f0f9;
$palette-deep-purple-75: #eee8f7;
$palette-deep-purple-100: #e8e1f4;
$palette-deep-purple-125: #e2d9f1;
$palette-deep-purple-150: #dcd2ee;
$palette-deep-purple-175: #d6caec;
$palette-deep-purple-200: #d1c3e9;
$palette-deep-purple-225: #cbbbe6;
$palette-deep-purple-250: #c5b4e3;
$palette-deep-purple-275: #bface1;
$palette-deep-purple-300: #b9a5de;
$palette-deep-purple-325: #b39ddb;
$palette-deep-purple-350: #ae96d8;
$palette-deep-purple-375: #a88ed6;
$palette-deep-purple-400: #a286d3;
$palette-deep-purple-425: #9c7fd0;
$palette-deep-purple-450: #9677cd;
$palette-deep-purple-475: #9170cb;
$palette-deep-purple-500: #8b68c8;
$palette-deep-purple-525: #815cc3;
$palette-deep-purple-550: #7850bf;
$palette-deep-purple-575: #6f45ba;
$palette-deep-purple-600: #6639b5;
$palette-deep-purple-625: #6036ab;
$palette-deep-purple-650: #5b33a1;
$palette-deep-purple-675: #553098;
$palette-deep-purple-700: #502d8e;
$palette-deep-purple-725: #4a2a84;
$palette-deep-purple-750: #45277a;
$palette-deep-purple-775: #3f2470;
$palette-deep-purple-800: #3a2066;
$palette-deep-purple-825: #341d5d;
$palette-deep-purple-850: #2f1a53;
$palette-deep-purple-875: #291749;
$palette-deep-purple-900: #24143f;
$palette-deep-purple-925: #1e1135;
$palette-deep-purple-950: #180e2b;
$palette-deep-purple-975: #130b22;
$palette-deep-purple-1000: #0d0818;
$palette-deep-purple: (
	#ffffff,
	#f9f7fc,
	#f3f0f9,
	#eee8f7,
	#e8e1f4,
	#e2d9f1,
	#dcd2ee,
	#d6caec,
	#d1c3e9,
	#cbbbe6,
	#c5b4e3,
	#bface1,
	#b9a5de,
	#b39ddb,
	#ae96d8,
	#a88ed6,
	#a286d3,
	#9c7fd0,
	#9677cd,
	#9170cb,
	#8b68c8,
	#815cc3,
	#7850bf,
	#6f45ba,
	#6639b5,
	#6036ab,
	#5b33a1,
	#553098,
	#502d8e,
	#4a2a84,
	#45277a,
	#3f2470,
	#3a2066,
	#341d5d,
	#2f1a53,
	#291749,
	#24143f,
	#1e1135,
	#180e2b,
	#130b22,
	#0d0818
);

// Palette: indigo
$palette-indigo-0: #ffffff;
$palette-indigo-25: #f7f8fc;
$palette-indigo-50: #f0f1f9;
$palette-indigo-75: #e8eaf6;
$palette-indigo-100: #e1e3f3;
$palette-indigo-125: #d9dcf0;
$palette-indigo-150: #d1d6ed;
$palette-indigo-175: #cacfea;
$palette-indigo-200: #c2c8e7;
$palette-indigo-225: #bac1e5;
$palette-indigo-250: #b3bae2;
$palette-indigo-275: #abb3df;
$palette-indigo-300: #a4acdc;
$palette-indigo-325: #9ca5d9;
$palette-indigo-350: #949ed6;
$palette-indigo-375: #8d97d3;
$palette-indigo-400: #8590d0;
$palette-indigo-425: #7d8acd;
$palette-indigo-450: #7683ca;
$palette-indigo-475: #6e7cc7;
$palette-indigo-500: #6775c4;
$palette-indigo-525: #5b6ac0;
$palette-indigo-550: #4f60bb;
$palette-indigo-575: #4657b5;
$palette-indigo-600: #3d4faf;
$palette-indigo-625: #3a4aa6;
$palette-indigo-650: #36469c;
$palette-indigo-675: #334293;
$palette-indigo-700: #303e89;
$palette-indigo-725: #2d3980;
$palette-indigo-750: #293576;
$palette-indigo-775: #26316d;
$palette-indigo-800: #232d63;
$palette-indigo-825: #1f285a;
$palette-indigo-850: #1c2451;
$palette-indigo-875: #192047;
$palette-indigo-900: #151c3e;
$palette-indigo-925: #121734;
$palette-indigo-950: #0f132b;
$palette-indigo-975: #0b0f21;
$palette-indigo-1000: #080b18;
$palette-indigo: (
	#ffffff,
	#f7f8fc,
	#f0f1f9,
	#e8eaf6,
	#e1e3f3,
	#d9dcf0,
	#d1d6ed,
	#cacfea,
	#c2c8e7,
	#bac1e5,
	#b3bae2,
	#abb3df,
	#a4acdc,
	#9ca5d9,
	#949ed6,
	#8d97d3,
	#8590d0,
	#7d8acd,
	#7683ca,
	#6e7cc7,
	#6775c4,
	#5b6ac0,
	#4f60bb,
	#4657b5,
	#3d4faf,
	#3a4aa6,
	#36469c,
	#334293,
	#303e89,
	#2d3980,
	#293576,
	#26316d,
	#232d63,
	#1f285a,
	#1c2451,
	#192047,
	#151c3e,
	#121734,
	#0f132b,
	#0b0f21,
	#080b18
);

// Palette: blue
$palette-blue-0: #ffffff;
$palette-blue-25: #f2f9fe;
$palette-blue-50: #e5f3fe;
$palette-blue-75: #d8ecfd;
$palette-blue-100: #cae6fc;
$palette-blue-125: #bde0fb;
$palette-blue-150: #b0dafb;
$palette-blue-175: #a3d4fa;
$palette-blue-200: #96cdf9;
$palette-blue-225: #89c7f9;
$palette-blue-250: #7cc1f8;
$palette-blue-275: #6fbbf7;
$palette-blue-300: #61b4f6;
$palette-blue-325: #54aef6;
$palette-blue-350: #47a8f5;
$palette-blue-375: #3aa2f4;
$palette-blue-400: #2d9cf4;
$palette-blue-425: #2695ed;
$palette-blue-450: #1f8ee5;
$palette-blue-475: #1d86d9;
$palette-blue-500: #1c7ecc;
$palette-blue-525: #1b79c4;
$palette-blue-550: #1974bb;
$palette-blue-575: #186eb2;
$palette-blue-600: #1769aa;
$palette-blue-625: #1664a1;
$palette-blue-650: #155e99;
$palette-blue-675: #145990;
$palette-blue-700: #125487;
$palette-blue-725: #114e7f;
$palette-blue-750: #104976;
$palette-blue-775: #0f446d;
$palette-blue-800: #0e3e65;
$palette-blue-825: #0d395c;
$palette-blue-850: #0b3453;
$palette-blue-875: #0a2e4b;
$palette-blue-900: #092942;
$palette-blue-925: #08243a;
$palette-blue-950: #071e31;
$palette-blue-975: #051928;
$palette-blue-1000: #041420;
$palette-blue: (
	#ffffff,
	#f2f9fe,
	#e5f3fe,
	#d8ecfd,
	#cae6fc,
	#bde0fb,
	#b0dafb,
	#a3d4fa,
	#96cdf9,
	#89c7f9,
	#7cc1f8,
	#6fbbf7,
	#61b4f6,
	#54aef6,
	#47a8f5,
	#3aa2f4,
	#2d9cf4,
	#2695ed,
	#1f8ee5,
	#1d86d9,
	#1c7ecc,
	#1b79c4,
	#1974bb,
	#186eb2,
	#1769aa,
	#1664a1,
	#155e99,
	#145990,
	#125487,
	#114e7f,
	#104976,
	#0f446d,
	#0e3e65,
	#0d395c,
	#0b3453,
	#0a2e4b,
	#092942,
	#08243a,
	#071e31,
	#051928,
	#041420
);

// Palette: light-blue
$palette-light-blue-0: #ffffff;
$palette-light-blue-25: #effafe;
$palette-light-blue-50: #dff4fe;
$palette-light-blue-75: #cfeffd;
$palette-light-blue-100: #bfe9fc;
$palette-light-blue-125: #afe4fc;
$palette-light-blue-150: #9fdefb;
$palette-light-blue-175: #8fd9fa;
$palette-light-blue-200: #7fd3f9;
$palette-light-blue-225: #6fcef9;
$palette-light-blue-250: #5fc9f8;
$palette-light-blue-275: #4fc3f7;
$palette-light-blue-300: #3fbef7;
$palette-light-blue-325: #30b8f6;
$palette-light-blue-350: #20b3f5;
$palette-light-blue-375: #11adf3;
$palette-light-blue-400: #03a7f1;
$palette-light-blue-425: #039ee4;
$palette-light-blue-450: #0394d6;
$palette-light-blue-475: #028bc9;
$palette-light-blue-500: #0282bb;
$palette-light-blue-525: #027cb4;
$palette-light-blue-550: #0277ac;
$palette-light-blue-575: #0272a4;
$palette-light-blue-600: #026c9c;
$palette-light-blue-625: #026794;
$palette-light-blue-650: #02618d;
$palette-light-blue-675: #025c85;
$palette-light-blue-700: #02577d;
$palette-light-blue-725: #015175;
$palette-light-blue-750: #014c6e;
$palette-light-blue-775: #014666;
$palette-light-blue-800: #01415e;
$palette-light-blue-825: #013c56;
$palette-light-blue-850: #01364e;
$palette-light-blue-875: #013147;
$palette-light-blue-900: #012c3f;
$palette-light-blue-925: #012637;
$palette-light-blue-950: #01212f;
$palette-light-blue-975: #001b28;
$palette-light-blue-1000: #001620;
$palette-light-blue: (
	#ffffff,
	#effafe,
	#dff4fe,
	#cfeffd,
	#bfe9fc,
	#afe4fc,
	#9fdefb,
	#8fd9fa,
	#7fd3f9,
	#6fcef9,
	#5fc9f8,
	#4fc3f7,
	#3fbef7,
	#30b8f6,
	#20b3f5,
	#11adf3,
	#03a7f1,
	#039ee4,
	#0394d6,
	#028bc9,
	#0282bb,
	#027cb4,
	#0277ac,
	#0272a4,
	#026c9c,
	#026794,
	#02618d,
	#025c85,
	#02577d,
	#015175,
	#014c6e,
	#014666,
	#01415e,
	#013c56,
	#01364e,
	#013147,
	#012c3f,
	#012637,
	#01212f,
	#001b28,
	#001620
);

// Palette: cyan
$palette-cyan-0: #ffffff;
$palette-cyan-25: #eefbfc;
$palette-cyan-50: #ddf6f9;
$palette-cyan-75: #ccf2f6;
$palette-cyan-100: #bbedf4;
$palette-cyan-125: #abe9f1;
$palette-cyan-150: #9ae4ee;
$palette-cyan-175: #89e0eb;
$palette-cyan-200: #78dbe8;
$palette-cyan-225: #67d7e5;
$palette-cyan-250: #56d3e3;
$palette-cyan-275: #45cee0;
$palette-cyan-300: #34cadd;
$palette-cyan-325: #23c5da;
$palette-cyan-350: #12c1d7;
$palette-cyan-375: #09bad0;
$palette-cyan-400: #00b2c9;
$palette-cyan-425: #00a7bd;
$palette-cyan-450: #009cb0;
$palette-cyan-475: #0092a4;
$palette-cyan-500: #008798;
$palette-cyan-525: #008192;
$palette-cyan-550: #007c8c;
$palette-cyan-575: #007685;
$palette-cyan-600: #00717f;
$palette-cyan-625: #006b79;
$palette-cyan-650: #006673;
$palette-cyan-675: #00606c;
$palette-cyan-700: #005b66;
$palette-cyan-725: #005560;
$palette-cyan-750: #00505a;
$palette-cyan-775: #004a54;
$palette-cyan-800: #00454d;
$palette-cyan-825: #003f47;
$palette-cyan-850: #003a41;
$palette-cyan-875: #00343b;
$palette-cyan-900: #002f34;
$palette-cyan-925: #00292e;
$palette-cyan-950: #002328;
$palette-cyan-975: #001e22;
$palette-cyan-1000: #00181c;
$palette-cyan: (
	#ffffff,
	#eefbfc,
	#ddf6f9,
	#ccf2f6,
	#bbedf4,
	#abe9f1,
	#9ae4ee,
	#89e0eb,
	#78dbe8,
	#67d7e5,
	#56d3e3,
	#45cee0,
	#34cadd,
	#23c5da,
	#12c1d7,
	#09bad0,
	#00b2c9,
	#00a7bd,
	#009cb0,
	#0092a4,
	#008798,
	#008192,
	#007c8c,
	#007685,
	#00717f,
	#006b79,
	#006673,
	#00606c,
	#005b66,
	#005560,
	#00505a,
	#004a54,
	#00454d,
	#003f47,
	#003a41,
	#00343b,
	#002f34,
	#00292e,
	#002328,
	#001e22,
	#00181c
);

// Palette: teal
$palette-teal-0: #ffffff;
$palette-teal-25: #f1f9f8;
$palette-teal-50: #e3f4f2;
$palette-teal-75: #d5eeeb;
$palette-teal-100: #c7e8e5;
$palette-teal-125: #b9e2de;
$palette-teal-150: #abddd8;
$palette-teal-175: #9dd7d1;
$palette-teal-200: #8fd1cb;
$palette-teal-225: #81cbc4;
$palette-teal-250: #73c6be;
$palette-teal-275: #65c0b7;
$palette-teal-300: #58bab1;
$palette-teal-325: #4ab4aa;
$palette-teal-350: #3cafa4;
$palette-teal-375: #2ea99d;
$palette-teal-400: #20a397;
$palette-teal-425: #129d90;
$palette-teal-450: #04988a;
$palette-teal-475: #029183;
$palette-teal-500: #008a7d;
$palette-teal-525: #008477;
$palette-teal-550: #007e72;
$palette-teal-575: #00786d;
$palette-teal-600: #007267;
$palette-teal-625: #006c62;
$palette-teal-650: #00665d;
$palette-teal-675: #006057;
$palette-teal-700: #005a52;
$palette-teal-725: #00544d;
$palette-teal-750: #004f47;
$palette-teal-775: #004942;
$palette-teal-800: #00433d;
$palette-teal-825: #003d37;
$palette-teal-850: #003732;
$palette-teal-875: #00312c;
$palette-teal-900: #002b27;
$palette-teal-925: #002522;
$palette-teal-950: #001f1c;
$palette-teal-975: #001917;
$palette-teal-1000: #001412;
$palette-teal: (
	#ffffff,
	#f1f9f8,
	#e3f4f2,
	#d5eeeb,
	#c7e8e5,
	#b9e2de,
	#abddd8,
	#9dd7d1,
	#8fd1cb,
	#81cbc4,
	#73c6be,
	#65c0b7,
	#58bab1,
	#4ab4aa,
	#3cafa4,
	#2ea99d,
	#20a397,
	#129d90,
	#04988a,
	#029183,
	#008a7d,
	#008477,
	#007e72,
	#00786d,
	#007267,
	#006c62,
	#00665d,
	#006057,
	#005a52,
	#00544d,
	#004f47,
	#004942,
	#00433d,
	#003d37,
	#003732,
	#00312c,
	#002b27,
	#002522,
	#001f1c,
	#001917,
	#001412
);

// Palette: green
$palette-green-0: #ffffff;
$palette-green-25: #f4faf4;
$palette-green-50: #e9f5e9;
$palette-green-75: #def0de;
$palette-green-100: #d3ebd4;
$palette-green-125: #c7e6c9;
$palette-green-150: #bce1be;
$palette-green-175: #b1dcb3;
$palette-green-200: #a6d7a8;
$palette-green-225: #9bd29d;
$palette-green-250: #90cd92;
$palette-green-275: #85c888;
$palette-green-300: #7ac37d;
$palette-green-325: #6fbe72;
$palette-green-350: #63b967;
$palette-green-375: #58b55c;
$palette-green-400: #4db051;
$palette-green-425: #49a64d;
$palette-green-450: #449d48;
$palette-green-475: #409444;
$palette-green-500: #3c8a3f;
$palette-green-525: #3a843d;
$palette-green-550: #377f3a;
$palette-green-575: #357937;
$palette-green-600: #327335;
$palette-green-625: #306d32;
$palette-green-650: #2d682f;
$palette-green-675: #2a622d;
$palette-green-700: #285c2a;
$palette-green-725: #255627;
$palette-green-750: #235125;
$palette-green-775: #204b22;
$palette-green-800: #1e4520;
$palette-green-825: #1b3f1d;
$palette-green-850: #19391a;
$palette-green-875: #163418;
$palette-green-900: #142e15;
$palette-green-925: #112812;
$palette-green-950: #0f2210;
$palette-green-975: #0c1d0d;
$palette-green-1000: #0a170a;
$palette-green: (
	#ffffff,
	#f4faf4,
	#e9f5e9,
	#def0de,
	#d3ebd4,
	#c7e6c9,
	#bce1be,
	#b1dcb3,
	#a6d7a8,
	#9bd29d,
	#90cd92,
	#85c888,
	#7ac37d,
	#6fbe72,
	#63b967,
	#58b55c,
	#4db051,
	#49a64d,
	#449d48,
	#409444,
	#3c8a3f,
	#3a843d,
	#377f3a,
	#357937,
	#327335,
	#306d32,
	#2d682f,
	#2a622d,
	#285c2a,
	#255627,
	#235125,
	#204b22,
	#1e4520,
	#1b3f1d,
	#19391a,
	#163418,
	#142e15,
	#112812,
	#0f2210,
	#0c1d0d,
	#0a170a
);

// Palette: light-green
$palette-light-green-0: #ffffff;
$palette-light-green-25: #f7fbf3;
$palette-light-green-50: #eff7e6;
$palette-light-green-75: #e7f3da;
$palette-light-green-100: #dfefce;
$palette-light-green-125: #d7ebc1;
$palette-light-green-150: #d0e6b5;
$palette-light-green-175: #c8e2a9;
$palette-light-green-200: #c0de9c;
$palette-light-green-225: #b8da90;
$palette-light-green-250: #b0d684;
$palette-light-green-275: #a8d277;
$palette-light-green-300: #a0ce6b;
$palette-light-green-325: #98ca5f;
$palette-light-green-350: #90c652;
$palette-light-green-375: #88bd4b;
$palette-light-green-400: #80b444;
$palette-light-green-425: #78a840;
$palette-light-green-450: #709d3b;
$palette-light-green-475: #679137;
$palette-light-green-500: #5f8633;
$palette-light-green-525: #5b8031;
$palette-light-green-550: #577b2f;
$palette-light-green-575: #54752d;
$palette-light-green-600: #50702a;
$palette-light-green-625: #4c6a28;
$palette-light-green-650: #486526;
$palette-light-green-675: #446024;
$palette-light-green-700: #405a22;
$palette-light-green-725: #3c5520;
$palette-light-green-750: #394f1e;
$palette-light-green-775: #354a1c;
$palette-light-green-800: #31451a;
$palette-light-green-825: #2d3f18;
$palette-light-green-850: #293a16;
$palette-light-green-875: #253414;
$palette-light-green-900: #212f12;
$palette-light-green-925: #1e2a10;
$palette-light-green-950: #1a240e;
$palette-light-green-975: #161f0c;
$palette-light-green-1000: #12190a;
$palette-light-green: (
	#ffffff,
	#f7fbf3,
	#eff7e6,
	#e7f3da,
	#dfefce,
	#d7ebc1,
	#d0e6b5,
	#c8e2a9,
	#c0de9c,
	#b8da90,
	#b0d684,
	#a8d277,
	#a0ce6b,
	#98ca5f,
	#90c652,
	#88bd4b,
	#80b444,
	#78a840,
	#709d3b,
	#679137,
	#5f8633,
	#5b8031,
	#577b2f,
	#54752d,
	#50702a,
	#4c6a28,
	#486526,
	#446024,
	#405a22,
	#3c5520,
	#394f1e,
	#354a1c,
	#31451a,
	#2d3f18,
	#293a16,
	#253414,
	#212f12,
	#1e2a10,
	#1a240e,
	#161f0c,
	#12190a
);

// Palette: lime
$palette-lime-0: #ffffff;
$palette-lime-25: #fbfcf0;
$palette-lime-50: #f8fae2;
$palette-lime-75: #f4f7d3;
$palette-lime-100: #f0f5c4;
$palette-lime-125: #edf2b6;
$palette-lime-150: #e9efa7;
$palette-lime-175: #e5ed98;
$palette-lime-200: #e1ea8a;
$palette-lime-225: #dee87b;
$palette-lime-250: #dae56d;
$palette-lime-275: #d6e35e;
$palette-lime-300: #d3e04f;
$palette-lime-325: #cddb43;
$palette-lime-350: #c7d537;
$palette-lime-375: #b9c734;
$palette-lime-400: #acb930;
$palette-lime-425: #9fab2c;
$palette-lime-450: #929d29;
$palette-lime-475: #858e25;
$palette-lime-500: #778021;
$palette-lime-525: #737b20;
$palette-lime-550: #6e761f;
$palette-lime-575: #6a711d;
$palette-lime-600: #656c1c;
$palette-lime-625: #60671b;
$palette-lime-650: #5c6219;
$palette-lime-675: #575d18;
$palette-lime-700: #525817;
$palette-lime-725: #4e5316;
$palette-lime-750: #494e14;
$palette-lime-775: #444913;
$palette-lime-800: #404412;
$palette-lime-825: #3b3f10;
$palette-lime-850: #363a0f;
$palette-lime-875: #32360e;
$palette-lime-900: #2d310d;
$palette-lime-925: #292c0b;
$palette-lime-950: #24270a;
$palette-lime-975: #1f2209;
$palette-lime-1000: #1b1d07;
$palette-lime: (
	#ffffff,
	#fbfcf0,
	#f8fae2,
	#f4f7d3,
	#f0f5c4,
	#edf2b6,
	#e9efa7,
	#e5ed98,
	#e1ea8a,
	#dee87b,
	#dae56d,
	#d6e35e,
	#d3e04f,
	#cddb43,
	#c7d537,
	#b9c734,
	#acb930,
	#9fab2c,
	#929d29,
	#858e25,
	#778021,
	#737b20,
	#6e761f,
	#6a711d,
	#656c1c,
	#60671b,
	#5c6219,
	#575d18,
	#525817,
	#4e5316,
	#494e14,
	#444913,
	#404412,
	#3b3f10,
	#363a0f,
	#32360e,
	#2d310d,
	#292c0b,
	#24270a,
	#1f2209,
	#1b1d07
);

// Palette: yellow
$palette-yellow-0: #ffffff;
$palette-yellow-25: #fffdf0;
$palette-yellow-50: #fffce1;
$palette-yellow-75: #fffad2;
$palette-yellow-100: #fff9c2;
$palette-yellow-125: #fff7b3;
$palette-yellow-150: #fff6a4;
$palette-yellow-175: #fff495;
$palette-yellow-200: #fff386;
$palette-yellow-225: #fff177;
$palette-yellow-250: #fff068;
$palette-yellow-275: #ffee59;
$palette-yellow-300: #ffec49;
$palette-yellow-325: #f6e340;
$palette-yellow-350: #edda37;
$palette-yellow-375: #dccb33;
$palette-yellow-400: #cbbb2f;
$palette-yellow-425: #baab2b;
$palette-yellow-450: #a99b27;
$palette-yellow-475: #978c23;
$palette-yellow-500: #867c1f;
$palette-yellow-525: #81771e;
$palette-yellow-550: #7c721d;
$palette-yellow-575: #776e1c;
$palette-yellow-600: #72691a;
$palette-yellow-625: #6d6419;
$palette-yellow-650: #686018;
$palette-yellow-675: #635b17;
$palette-yellow-700: #5e5616;
$palette-yellow-725: #595215;
$palette-yellow-750: #544d13;
$palette-yellow-775: #4f4912;
$palette-yellow-800: #4a4411;
$palette-yellow-825: #453f10;
$palette-yellow-850: #403b0f;
$palette-yellow-875: #3a360e;
$palette-yellow-900: #35310c;
$palette-yellow-925: #302d0b;
$palette-yellow-950: #2b280a;
$palette-yellow-975: #262309;
$palette-yellow-1000: #211f08;
$palette-yellow: (
	#ffffff,
	#fffdf0,
	#fffce1,
	#fffad2,
	#fff9c2,
	#fff7b3,
	#fff6a4,
	#fff495,
	#fff386,
	#fff177,
	#fff068,
	#ffee59,
	#ffec49,
	#f6e340,
	#edda37,
	#dccb33,
	#cbbb2f,
	#baab2b,
	#a99b27,
	#978c23,
	#867c1f,
	#81771e,
	#7c721d,
	#776e1c,
	#72691a,
	#6d6419,
	#686018,
	#635b17,
	#5e5616,
	#595215,
	#544d13,
	#4f4912,
	#4a4411,
	#453f10,
	#403b0f,
	#3a360e,
	#35310c,
	#302d0b,
	#2b280a,
	#262309,
	#211f08
);

// Palette: amber
$palette-amber-0: #ffffff;
$palette-amber-25: #fffaed;
$palette-amber-50: #fff6db;
$palette-amber-75: #fff1c9;
$palette-amber-100: #ffedb7;
$palette-amber-125: #ffe8a5;
$palette-amber-150: #ffe493;
$palette-amber-175: #ffdf81;
$palette-amber-200: #ffdb6f;
$palette-amber-225: #ffd65d;
$palette-amber-250: #ffd24b;
$palette-amber-275: #ffcd39;
$palette-amber-300: #ffc927;
$palette-amber-325: #fdc317;
$palette-amber-350: #fbbe07;
$palette-amber-375: #ebb206;
$palette-amber-400: #dba606;
$palette-amber-425: #cb9906;
$palette-amber-450: #bb8d05;
$palette-amber-475: #aa8105;
$palette-amber-500: #9a7504;
$palette-amber-525: #947004;
$palette-amber-550: #8e6c04;
$palette-amber-575: #886704;
$palette-amber-600: #826204;
$palette-amber-625: #7c5e03;
$palette-amber-650: #765903;
$palette-amber-675: #705503;
$palette-amber-700: #6a5003;
$palette-amber-725: #644c03;
$palette-amber-750: #5e4703;
$palette-amber-775: #584202;
$palette-amber-800: #523e02;
$palette-amber-825: #4c3902;
$palette-amber-850: #453502;
$palette-amber-875: #3f3002;
$palette-amber-900: #392b02;
$palette-amber-925: #332701;
$palette-amber-950: #2d2201;
$palette-amber-975: #271e01;
$palette-amber-1000: #211901;
$palette-amber: (
	#ffffff,
	#fffaed,
	#fff6db,
	#fff1c9,
	#ffedb7,
	#ffe8a5,
	#ffe493,
	#ffdf81,
	#ffdb6f,
	#ffd65d,
	#ffd24b,
	#ffcd39,
	#ffc927,
	#fdc317,
	#fbbe07,
	#ebb206,
	#dba606,
	#cb9906,
	#bb8d05,
	#aa8105,
	#9a7504,
	#947004,
	#8e6c04,
	#886704,
	#826204,
	#7c5e03,
	#765903,
	#705503,
	#6a5003,
	#644c03,
	#5e4703,
	#584202,
	#523e02,
	#4c3902,
	#453502,
	#3f3002,
	#392b02,
	#332701,
	#2d2201,
	#271e01,
	#211901
);

// Palette: orange
$palette-orange-0: #ffffff;
$palette-orange-25: #fff8ee;
$palette-orange-50: #fff1dd;
$palette-orange-75: #ffeacb;
$palette-orange-100: #ffe3ba;
$palette-orange-125: #ffdca9;
$palette-orange-150: #ffd598;
$palette-orange-175: #ffce86;
$palette-orange-200: #ffc775;
$palette-orange-225: #ffc064;
$palette-orange-250: #ffb953;
$palette-orange-275: #ffb242;
$palette-orange-300: #ffac30;
$palette-orange-325: #ffa51f;
$palette-orange-350: #ff9e0e;
$palette-orange-375: #f69507;
$palette-orange-400: #ed8d00;
$palette-orange-425: #de8400;
$palette-orange-450: #cf7b00;
$palette-orange-475: #c07300;
$palette-orange-500: #b16a00;
$palette-orange-525: #aa6500;
$palette-orange-550: #a36100;
$palette-orange-575: #9c5d00;
$palette-orange-600: #945800;
$palette-orange-625: #8d5400;
$palette-orange-650: #865000;
$palette-orange-675: #7f4c00;
$palette-orange-700: #784700;
$palette-orange-725: #704300;
$palette-orange-750: #693f00;
$palette-orange-775: #623a00;
$palette-orange-800: #5b3600;
$palette-orange-825: #543200;
$palette-orange-850: #4c2e00;
$palette-orange-875: #452900;
$palette-orange-900: #3e2500;
$palette-orange-925: #372100;
$palette-orange-950: #301c00;
$palette-orange-975: #281800;
$palette-orange-1000: #211400;
$palette-orange: (
	#ffffff,
	#fff8ee,
	#fff1dd,
	#ffeacb,
	#ffe3ba,
	#ffdca9,
	#ffd598,
	#ffce86,
	#ffc775,
	#ffc064,
	#ffb953,
	#ffb242,
	#ffac30,
	#ffa51f,
	#ff9e0e,
	#f69507,
	#ed8d00,
	#de8400,
	#cf7b00,
	#c07300,
	#b16a00,
	#aa6500,
	#a36100,
	#9c5d00,
	#945800,
	#8d5400,
	#865000,
	#7f4c00,
	#784700,
	#704300,
	#693f00,
	#623a00,
	#5b3600,
	#543200,
	#4c2e00,
	#452900,
	#3e2500,
	#372100,
	#301c00,
	#281800,
	#211400
);

// Palette: deep-orange
$palette-deep-orange-0: #ffffff;
$palette-deep-orange-25: #fff5f2;
$palette-deep-orange-50: #ffebe5;
$palette-deep-orange-75: #ffe1d8;
$palette-deep-orange-100: #ffd8cb;
$palette-deep-orange-125: #ffcebe;
$palette-deep-orange-150: #ffc4b1;
$palette-deep-orange-175: #ffbaa4;
$palette-deep-orange-200: #ffb097;
$palette-deep-orange-225: #ffa68a;
$palette-deep-orange-250: #ff9c7d;
$palette-deep-orange-275: #ff9270;
$palette-deep-orange-300: #ff8963;
$palette-deep-orange-325: #ff7f56;
$palette-deep-orange-350: #ff7549;
$palette-deep-orange-375: #ff6b3c;
$palette-deep-orange-400: #ff612f;
$palette-deep-orange-425: #f95a28;
$palette-deep-orange-450: #f25320;
$palette-deep-orange-475: #e54e1f;
$palette-deep-orange-500: #d84a1d;
$palette-deep-orange-525: #cf471c;
$palette-deep-orange-550: #c6441a;
$palette-deep-orange-575: #bd4019;
$palette-deep-orange-600: #b43d18;
$palette-deep-orange-625: #aa3a17;
$palette-deep-orange-650: #a13716;
$palette-deep-orange-675: #983414;
$palette-deep-orange-700: #8f3113;
$palette-deep-orange-725: #862e12;
$palette-deep-orange-750: #7d2b11;
$palette-deep-orange-775: #74270f;
$palette-deep-orange-800: #6a240e;
$palette-deep-orange-825: #61210d;
$palette-deep-orange-850: #581e0c;
$palette-deep-orange-875: #4f1b0b;
$palette-deep-orange-900: #461809;
$palette-deep-orange-925: #3d1508;
$palette-deep-orange-950: #331207;
$palette-deep-orange-975: #2a0e06;
$palette-deep-orange-1000: #210b04;
$palette-deep-orange: (
	#ffffff,
	#fff5f2,
	#ffebe5,
	#ffe1d8,
	#ffd8cb,
	#ffcebe,
	#ffc4b1,
	#ffbaa4,
	#ffb097,
	#ffa68a,
	#ff9c7d,
	#ff9270,
	#ff8963,
	#ff7f56,
	#ff7549,
	#ff6b3c,
	#ff612f,
	#f95a28,
	#f25320,
	#e54e1f,
	#d84a1d,
	#cf471c,
	#c6441a,
	#bd4019,
	#b43d18,
	#aa3a17,
	#a13716,
	#983414,
	#8f3113,
	#862e12,
	#7d2b11,
	#74270f,
	#6a240e,
	#61210d,
	#581e0c,
	#4f1b0b,
	#461809,
	#3d1508,
	#331207,
	#2a0e06,
	#210b04
);

// Palette: brown
$palette-brown-0: #ffffff;
$palette-brown-25: #faf8f8;
$palette-brown-50: #f4f1f0;
$palette-brown-75: #efeae9;
$palette-brown-100: #e9e3e1;
$palette-brown-125: #e4dcda;
$palette-brown-150: #ded5d2;
$palette-brown-175: #d9cecb;
$palette-brown-200: #d3c7c3;
$palette-brown-225: #cec0bc;
$palette-brown-250: #c8bab4;
$palette-brown-275: #c3b3ad;
$palette-brown-300: #bdaca5;
$palette-brown-325: #b8a59e;
$palette-brown-350: #b29e96;
$palette-brown-375: #ad978f;
$palette-brown-400: #a79087;
$palette-brown-425: #a28980;
$palette-brown-450: #9c8278;
$palette-brown-475: #977b71;
$palette-brown-500: #917469;
$palette-brown-525: #8a6a5f;
$palette-brown-550: #826054;
$palette-brown-575: #7a584c;
$palette-brown-600: #735145;
$palette-brown-625: #6d4d41;
$palette-brown-650: #67483d;
$palette-brown-675: #61443a;
$palette-brown-700: #5a4036;
$palette-brown-725: #543b32;
$palette-brown-750: #4e372e;
$palette-brown-775: #48322b;
$palette-brown-800: #422e27;
$palette-brown-825: #3b2a23;
$palette-brown-850: #352520;
$palette-brown-875: #2f211c;
$palette-brown-900: #291d18;
$palette-brown-925: #221814;
$palette-brown-950: #1c1411;
$palette-brown-975: #160f0d;
$palette-brown-1000: #100b09;
$palette-brown: (
	#ffffff,
	#faf8f8,
	#f4f1f0,
	#efeae9,
	#e9e3e1,
	#e4dcda,
	#ded5d2,
	#d9cecb,
	#d3c7c3,
	#cec0bc,
	#c8bab4,
	#c3b3ad,
	#bdaca5,
	#b8a59e,
	#b29e96,
	#ad978f,
	#a79087,
	#a28980,
	#9c8278,
	#977b71,
	#917469,
	#8a6a5f,
	#826054,
	#7a584c,
	#735145,
	#6d4d41,
	#67483d,
	#61443a,
	#5a4036,
	#543b32,
	#4e372e,
	#48322b,
	#422e27,
	#3b2a23,
	#352520,
	#2f211c,
	#291d18,
	#221814,
	#1c1411,
	#160f0d,
	#100b09
);

// Palette: blue-gray
$palette-blue-gray-0: #ffffff;
$palette-blue-gray-25: #f7f9f9;
$palette-blue-gray-50: #eff2f4;
$palette-blue-gray-75: #e7ecee;
$palette-blue-gray-100: #e0e5e8;
$palette-blue-gray-125: #d8dfe2;
$palette-blue-gray-150: #d0d8dd;
$palette-blue-gray-175: #c8d2d7;
$palette-blue-gray-200: #c0ccd1;
$palette-blue-gray-225: #b8c5cb;
$palette-blue-gray-250: #b1bfc6;
$palette-blue-gray-275: #a9b8c0;
$palette-blue-gray-300: #a1b2ba;
$palette-blue-gray-325: #99acb5;
$palette-blue-gray-350: #91a5af;
$palette-blue-gray-375: #899fa9;
$palette-blue-gray-400: #8198a3;
$palette-blue-gray-425: #7a929e;
$palette-blue-gray-450: #728b98;
$palette-blue-gray-475: #6a8592;
$palette-blue-gray-500: #627f8c;
$palette-blue-gray-525: #5d7986;
$palette-blue-gray-550: #597380;
$palette-blue-gray-575: #546e7a;
$palette-blue-gray-600: #506874;
$palette-blue-gray-625: #4c636e;
$palette-blue-gray-650: #485d68;
$palette-blue-gray-675: #435862;
$palette-blue-gray-700: #3f525c;
$palette-blue-gray-725: #3b4d55;
$palette-blue-gray-750: #37474f;
$palette-blue-gray-775: #334249;
$palette-blue-gray-800: #2e3c43;
$palette-blue-gray-825: #2a373d;
$palette-blue-gray-850: #263137;
$palette-blue-gray-875: #222c31;
$palette-blue-gray-900: #1d262b;
$palette-blue-gray-925: #192124;
$palette-blue-gray-950: #151b1e;
$palette-blue-gray-975: #111618;
$palette-blue-gray-1000: #0c1012;
$palette-blue-gray: (
	#ffffff,
	#f7f9f9,
	#eff2f4,
	#e7ecee,
	#e0e5e8,
	#d8dfe2,
	#d0d8dd,
	#c8d2d7,
	#c0ccd1,
	#b8c5cb,
	#b1bfc6,
	#a9b8c0,
	#a1b2ba,
	#99acb5,
	#91a5af,
	#899fa9,
	#8198a3,
	#7a929e,
	#728b98,
	#6a8592,
	#627f8c,
	#5d7986,
	#597380,
	#546e7a,
	#506874,
	#4c636e,
	#485d68,
	#435862,
	#3f525c,
	#3b4d55,
	#37474f,
	#334249,
	#2e3c43,
	#2a373d,
	#263137,
	#222c31,
	#1d262b,
	#192124,
	#151b1e,
	#111618,
	#0c1012
);

$_palette_map: (
	'gray': $palette-gray,
	'red': $palette-red,
	'pink': $palette-pink,
	'purple': $palette-purple,
	'deep-purple': $palette-deep-purple,
	'indigo': $palette-indigo,
	'blue': $palette-blue,
	'light-blue': $palette-light-blue,
	'cyan': $palette-cyan,
	'teal': $palette-teal,
	'green': $palette-green,
	'light-green': $palette-light-green,
	'lime': $palette-lime,
	'yellow': $palette-yellow,
	'amber': $palette-amber,
	'orange': $palette-orange,
	'deep-orange': $palette-deep-orange,
	'brown': $palette-brown,
	'blue-gray': $palette-blue-gray,
);

@function palette($palette, $shade) {
	@if type_of($palette) == 'string' {
		@return nth(
			map-get($_palette_map, $palette),
			$shade / $_palette-step + 1
		);
	}
	@return nth($palette, $shade / $_palette-step + 1);
}
