// Block title
.iif-footer-block > p:first-child {
	@include iif-font('base', 'normal');
	margin: $iif-spacing 0 0;
	padding: 0;
	color: $iif-text-dimmed-color;
	position: relative;

	svg {
		display: none;
		font-size: $iif-icon-size;
		line-height: 1em;
		position: absolute;
		left: 0;
		top: 50%;
		margin-top: 0 - $iif-icon-size / 2;
	}

	a {
		color: inherit;
		text-decoration: none;
		position: relative;
		margin-right: $iif-icon-size;
	}
}

.iif-footer-block--collapsed > p:first-child {
	svg {
		display: block;
	}
	a {
		text-decoration: underline;
		color: $iif-link-color;
		left: $iif-icon-size;
	}
}

.iif-footer-block > p:first-child {
	a {
		&:hover {
			color: $iif-link-hover-color;
			text-decoration: underline;
		}

		&:focus {
			outline: none;
			box-shadow: none;
		}

		&:focus:not(:hover) {
			text-decoration: underline;
			box-shadow: 0 0 0 1px $iif-border-focus-color inset;
		}
	}
}

// Block
.iif-footer-block {
	margin: $iif-spacing 0;

	&:after {
		content: ' ';
		display: table;
		clear: both;
	}
}

// Options block
.iif-footer-options-block {
	position: relative;
	float: left;
	margin: ($iif-spacing * 1.5) ($iif-spacing * 2) 0 0;
	padding: ($iif-spacing * 2) 0 0 0;
	background: $iif-background-color;
	border: $iif-border-width dashed $iif-simple-border-color;
	border-radius: $iif-border-radius-medium;

	&:focus-within {
		border-color: $iif-input-focus-border-color;
	}

	// Title
	> p {
		position: absolute;
		left: 10px;
		top: -11px;

		@include iif-font('small', 'normal');
		line-height: 1em;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;

		background: $iif-background-color;
		color: $iif-text-muted-color;
		margin: 0;
		padding: 2px $iif-spacing 2px ($iif-spacing / 2);
	}

	// Content
	> div {
		display: flex;
		padding: 0 $iif-spacing $iif-spacing;

		.iif-input-wrapper {
			+ .iif-input-wrapper {
				margin-left: $iif-spacing;
			}
		}
	}
}

// Properties container for modern browsers
@supports (display: flex) {
	// Parent of ".iif-footer-options-block"
	.iif-footer-block--props > div {
		display: flex;
		flex-wrap: wrap;
	}

	.iif-footer-options-block {
		float: none;
	}
}
