// Icons list in footer, multiple icons are selected
.iif-footer-options-block--icons {
	margin: 0 0 $iif-spacing * 2;
}

.iif-footer-icons {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
	// margin: 0 0 $iif-spacing * 2;
	color: $iif-icons-grid-icon-color;

	li {
		margin: 0;
		padding: 0;
		display: block;
		position: relative;
	}

	// "Remove" icon
	.iif-footer-icons-reset {
		display: none;
		position: absolute;
		font-size: $iif-icon-size;
		right: 0 - ($iif-icon-size) / 2;
		top: 0 - ($iif-icon-size) / 2;
		background: inherit;
		color: inherit;
		@if $iif-icons-grid-icon-border-width > 0 {
			border: $iif-icons-grid-icon-border-width solid transparent;
		}
		box-shadow: inherit;

		svg {
			display: block;
		}
	}

	a.iif-footer-icons-reset {
		cursor: pointer;
		text-decoration: none;
		background: $iif-icons-grid-icon-background-color;
		@if $iif-icons-grid-icon-border-width > 0 {
			border-color: $iif-icons-grid-icon-border-color;
		}

		&:hover,
		&:active {
			color: $iif-icons-grid-icon-hover-color;
			background: $iif-icons-grid-icon-hover-background-color;
			@if $iif-icons-grid-icon-border-width > 0 {
				border-color: $iif-icons-grid-icon-hover-border-color;
			}
		}

		&:focus {
			outline: none;
			box-shadow: none;
		}

		&:focus:not(:hover) {
			color: $iif-icons-grid-icon-focus-color;
			background: $iif-icons-grid-icon-focus-background-color;
			@if $iif-icons-grid-icon-border-width > 0 {
				border-color: $iif-icons-grid-icon-focus-border-color;
			}
			@if $iif-icons-grid-icon-border-width == 0 {
				box-shadow: 0 0 0 2px $iif-icons-grid-icon-focus-border-color;
			}
			@if $iif-icons-grid-icon-border-width == 1px {
				box-shadow: 0 0 0 1px $iif-icons-grid-icon-focus-border-color;
			}
		}
	}

	// Show reset button if block is visible and reset is separate
	&:hover,
	&:focus-within {
		a.iif-footer-icons-reset {
			display: block;
		}
	}

	// Link
	a:first-child {
		display: block;
		height: 1em;
		color: inherit;
		font-size: $iif-icons-grid-icon-size;
		margin: $iif-icons-grid-icon-margin;
		background: $iif-icons-grid-icon-background-color;
		border: $iif-icons-grid-icon-border-width solid
			$iif-icons-grid-icon-border-color;
		cursor: pointer;
		text-decoration: none;

		&:hover,
		&:active {
			color: $iif-icons-grid-icon-hover-color;
			background: $iif-icons-grid-icon-hover-background-color;
			border-color: $iif-icons-grid-icon-hover-border-color;

			.iif-footer-icons-reset,
			+ .iif-footer-icons-reset {
				display: block;
				color: $iif-icons-grid-icon-hover-color;
				background: $iif-icons-grid-icon-hover-background-color;
				@if $iif-icons-grid-icon-border-width > 0 {
					border-color: $iif-icons-grid-icon-hover-border-color;
				}
			}
		}

		&:focus {
			outline: none;
			box-shadow: none;
		}

		&:focus:not(:hover) {
			color: $iif-icons-grid-icon-focus-color;
			background: $iif-icons-grid-icon-focus-background-color;
			@if $iif-icons-grid-icon-border-width > 0 {
				border-color: $iif-icons-grid-icon-focus-border-color;
			}
			@if $iif-icons-grid-icon-border-width == 0 {
				box-shadow: 0 0 0 2px $iif-icons-grid-icon-focus-border-color;
			}
			@if $iif-icons-grid-icon-border-width == 1px {
				box-shadow: 0 0 0 1px $iif-icons-grid-icon-focus-border-color;
			}
			.iif-footer-icons-reset {
				display: block;
				@if $iif-icons-grid-icon-border-width > 0 {
					border-color: $iif-icons-grid-icon-focus-border-color;
				}
			}
		}

		@media (max-width: 600px) {
			font-size: $iif-icons-grid-icon-compact-size;
		}
	}
}
