@supports (animation: foo 1s) and (not (-ms-ime-align: auto)) and (not (overflow: -webkit-marquee)) {
	.iconify--line-md .il-md-fill { animation: il-md-fill 0.5s linear forwards; opacity: 0; }
	.iconify--line-md .il-md-length-15 { animation: il-md-length-15 0s linear forwards; stroke-dasharray: 15; stroke-dashoffset: 15; opacity: 0; }
	.iconify--line-md .il-md-length-25 { animation: il-md-length-25 0s linear forwards; stroke-dasharray: 25; stroke-dashoffset: 25; opacity: 0; }
	.iconify--line-md .il-md-length-40 { animation: il-md-length-40 0s linear forwards; stroke-dasharray: 40; stroke-dashoffset: 40; opacity: 0; }
	.iconify--line-md .il-md-length-70 { animation: il-md-length-70 0s linear forwards; stroke-dasharray: 70; stroke-dashoffset: 70; opacity: 0; }
	.iconify--line-md .il-md-length-100 { animation: il-md-length-100 0s linear forwards; stroke-dasharray: 100; stroke-dashoffset: 100; opacity: 0; }
	.iconify--line-md .il-md-length-150 { animation: il-md-length-150 0s linear forwards; stroke-dasharray: 150; stroke-dashoffset: 150; opacity: 0; }
	.iconify--line-md .il-md-delay-0 { animation-delay: 0s; }
	.iconify--line-md .il-md-delay-1 { animation-delay: 0.1s; }
	.iconify--line-md .il-md-delay-2 { animation-delay: 0.2s; }
	.iconify--line-md .il-md-delay-3 { animation-delay: 0.3s; }
	.iconify--line-md .il-md-delay-4 { animation-delay: 0.4s; }
	.iconify--line-md .il-md-delay-5 { animation-delay: 0.5s; }
	.iconify--line-md .il-md-delay-6 { animation-delay: 0.6s; }
	.iconify--line-md .il-md-delay-7 { animation-delay: 0.7s; }
	.iconify--line-md .il-md-delay-8 { animation-delay: 0.8s; }
	.iconify--line-md .il-md-delay-9 { animation-delay: 0.9s; }
	.iconify--line-md .il-md-delay-10 { animation-delay: 1s; }
	.iconify--line-md .il-md-delay-11 { animation-delay: 1.1s; }
	.iconify--line-md .il-md-delay-12 { animation-delay: 1.2s; }
	.iconify--line-md .il-md-delay-13 { animation-delay: 1.3s; }
	.iconify--line-md .il-md-delay-14 { animation-delay: 1.4s; }
	.iconify--line-md .il-md-delay-15 { animation-delay: 1.5s; }
	.iconify--line-md .il-md-delay-16 { animation-delay: 1.6s; }
	.iconify--line-md .il-md-delay-17 { animation-delay: 1.7s; }
	.iconify--line-md .il-md-delay-18 { animation-delay: 1.8s; }
	.iconify--line-md .il-md-delay-19 { animation-delay: 1.9s; }
	.iconify--line-md .il-md-duration-0 { animation-duration: 0.2s; }
	.iconify--line-md .il-md-duration-1 { animation-duration: 0.3s; }
	.iconify--line-md .il-md-duration-2 { animation-duration: 0.4s; }
	.iconify--line-md .il-md-duration-3 { animation-duration: 0.5s; }
	.iconify--line-md .il-md-duration-4 { animation-duration: 0.6s; }
	.iconify--line-md .il-md-duration-5 { animation-duration: 0.7s; }
	.iconify--line-md .il-md-duration-6 { animation-duration: 0.8s; }
	.iconify--line-md .il-md-duration-7 { animation-duration: 0.9s; }
	.iconify--line-md .il-md-duration-8 { animation-duration: 1s; }
	.iconify--line-md .il-md-duration-9 { animation-duration: 1.1s; }
	@keyframes il-md-fill { from { opacity: 0; } to { opacity: 1; } }
	@keyframes il-md-length-15 { 0% { stroke-dashoffset: 15; opacity: 0; } 1% { stroke-dashoffset: 15; opacity: 1; } 100% { stroke-dashoffset: 0; opacity: 1; } }
	@keyframes il-md-length-25 { 0% { stroke-dashoffset: 25; opacity: 0; } 1% { stroke-dashoffset: 25; opacity: 1; } 100% { stroke-dashoffset: 0; opacity: 1; } }
	@keyframes il-md-length-40 { 0% { stroke-dashoffset: 40; opacity: 0; } 1% { stroke-dashoffset: 40; opacity: 1; } 100% { stroke-dashoffset: 0; opacity: 1; } }
	@keyframes il-md-length-70 { 0% { stroke-dashoffset: 70; opacity: 0; } 1% { stroke-dashoffset: 70; opacity: 1; } 100% { stroke-dashoffset: 0; opacity: 1; } }
	@keyframes il-md-length-100 { 0% { stroke-dashoffset: 100; opacity: 0; } 1% { stroke-dashoffset: 100; opacity: 1; } 100% { stroke-dashoffset: 0; opacity: 1; } }
	@keyframes il-md-length-150 { 0% { stroke-dashoffset: 150; opacity: 0; } 1% { stroke-dashoffset: 150; opacity: 1; } 100% { stroke-dashoffset: 0; opacity: 1; } }
}