// Collections header
.iif-collections-header {
	display: flex;
	width: 100%;

	.iif-block--filters {
		flex-grow: 1;
	}

	.iif-block--filter {
		padding-left: $iif-spacing;
		&:first-child {
			// No categories
			padding-left: 0;
		}
	}
	.iif-block--filter {
		margin: ($iif-spacing - 1px) 0 0; // 1px difference because filters are 2 px shorter, so this change aligns blocks
		.iif-input {
			width: 240px;
		}
	}

	@media (max-width: 600px) {
		display: block;

		.iif-block--filters {
			float: left;
		}

		.iif-block--filter {
			float: right;
		}

		&:after {
			content: '';
			display: table;
			clear: both;
		}
	}
}
