.iif-input-sample {
	font-size: $iif-input-font-size;
	line-height: $iif-input-line-height;
	color: $iif-input-color;
	border: $iif-input-border-width solid $iif-input-border-color;
	border-radius: $iif-input-border-radius;
	background-color: $iif-input-background-color;
	padding: (($iif-input-height - $iif-input-line-height) / 2)
		($iif-input-spacing + $iif-input-border-width);
	position: relative;

	&:focus-within {
		border-color: $iif-input-focus-border-color;
		@if $iif-input-border-width == 1px {
			box-shadow: 0 0 0 1px $iif-input-focus-border-color;
		}
		@if $iif-input-border-width == 0 {
			box-shadow: 0 0 0 2px $iif-input-focus-border-color;
		}
	}

	a {
		color: $iff-input-dimmed-color;
		position: absolute;
		font-size: $iif-icon-size;
		line-height: 1em;
		margin: 0;
		padding: ($iif-icon-button-size - $iif-icon-size) / 2;
		right: $iif-input-border-width;
		top: 6px;
		opacity: 0;
		transition: opacity 0.2s;
		&:hover {
			color: $iif-link-hover-color;
		}
		&:focus {
			box-shadow: none;
			outline: none;
		}
		&:focus:not(:hover) {
			color: $iif-link-color;
		}
	}

	&:focus-within a,
	&:hover a,
	&--with-notice a {
		opacity: 1;
	}

	&-notice {
		position: absolute;
		right: $iif-icon-button-size + $iif-input-border-width;
		top: 4px;
		margin: 0;
		padding: (2px + ($iif-icon-button-size - $iif-icon-size) / 2) 8px;
		white-space: nowrap;
		pointer-events: none;

		font-size: $iif-small-font-size;
		line-height: $iif-icon-size;
		color: $iif-success-notice-text;

		background: $iif-success-notice-background;
		border-radius: 3px;

		animation: iif-show-code-notice 2s ease forwards;

		svg {
			float: left;
			font-size: $iif-icon-size;
			line-height: 1em;
			margin-right: 4px;
		}
	}

	&-content {
		white-space: pre-wrap;
		word-break: break-all;
	}

	+ .iif-input-sample {
		margin-top: $iif-spacing;
	}
}

@keyframes iif-show-code-notice {
	0% {
		opacity: 0;
	}
	10% {
		opacity: 1;
	}
	80% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
